body{
   background-color: ghostwhite;
   text-align: center;
}
img{
    width: 200px;
    margin-top: 20px;
}
#error{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
button{
    cursor: pointer;
}
#press-btn{
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
}