html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
    width: 400px;
    border: 3px solid red;
    background-color: black;
    color: white;
}
.calc-btn-row{
    margin-bottom: 0.5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.screen{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}
.calc-btn{
    background-color: lightgray;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}
.calc-btn:hover{
    background-color: #ebebeb;
}
.calc-btn:active{
    background-color: #bbbcbe;
}
.double{
    flex-basis: 49.7%;
}
.triple{
    flex-basis: 74.8%;
}
.calc-btn:last-child{
    background-color: #df974c;
    color: white;
}

