*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
}
