*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: lemonchiffon;
}
div{
    text-align: center;
    padding: 10%;
    border: 1px solid black;
    margin: 10%;
    background-color: bisque;
}
button{
    border-radius: 5px;
    padding: 10px;
    background-color:crimson;
}
button:hover{
    background-color: white;
    color: black;
}
#textbox{
    background-color: white;
}